SECRET_KEY=
FLASK_DEBUG=0
SQLALCHEMY_ECHO=0

POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=sccp_db
DATABASE_URL=postgresql+psycopg2://admin:SENHA@db:5432/sccp_db

BREVO_API_KEY=
EMAIL_REMETENTE=
EMAIL_REMETENTE_NOME=Creche Pequenos Girassóis