<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel da Secretaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/secretaria.css') }}">      
</head>
<body>
    <!-- BARRA SUPERIOR -->
    
    <header> 
            <a href="/">Login</a>
            <a href="/pais">Pais</a>
            <a href="/secretaria">Secretaria</a>
    </header>

    <div class="layout-wrapper">
        <!-- MENU LATERAL -->
        <aside class="sidebar">
            <div class="sidebar__brand">
                <h2>Pequenos Girassóis<br>Creche e Escola</h2>
            </div>
            
            <nav class="sidebar__menu" aria-label="Menu Principal">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Alunos</a></li>
                    <li><a href="#" class="active">Responsáveis</a></li>
                    <li><a href="#">Relatórios</a></li>
                </ul>
            </nav>

            <div class="sidebar__profile">
                <div class="avatar"></div>
                <div class="user-info">
                    <strong>Maria Silva</strong>
                    <span>Secretária</span>
                </div>
            </div>
        </aside>

        <!-- CONTEDO PRINCIPAL -->
        <main class="content">
            <header class="content__header">
                <h1>Responsáveis</h1>
                <p>7 cadastros - 5 ativos</p>
            </header>

            <section class="content__actions">
                <div class="search-box">
                    <input type="text" placeholder="Buscar por Aluno" aria-label="Buscar por Aluno">
                </div>
                <button class="btn-primary">+ Novo Acesso</button>
            </section>

            <section class="content__data">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Responsável</th>
                            <th>Aluno Vinculado</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- bd -->                      
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    
</body>
</html>